body {
	margin: 0 auto;
	width: 100%;
	background: lightgray;
	max-width: 1020px;
	min-width: 480px;
}
html {
	background: gray;
}
header, footer {
	background-color: #004080;
	width: 100%;
}

/*Header styles only*/
li {
	color: #e5ebf2;
}
img.center-block {
	height: 500px;
}
header div.nav-link {
	background: #004080;
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	padding: 21.28px 0;
	color: #e5ebf2;
}
a div.nav-link:hover{
   background-color: #6893d8;
}

/*Footer styles only*/
footer {
	clear: both;	
	height: auto;
	width: 100%;
}
div.footer {
	float: left;
	width: 33.33333333%;
	height: 100px;
	background: #004080;
	display: block;
	text-align: center;
	padding: 21.28px 0;
	color: #e5ebf2;
}